<template>
  <div class="header-area">
    <div class="header-middle">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-md-2">
            <div class="logo">
              <h1>
                <router-link :to="localePath('/')">
                  <img
                    src="@/assets/images/logo.svg"
                    alt="Lepape équipement Running, Trail, Vélo, Triathlon, Rando, Fitness"
                    class="img-responsive"
                  />
                </router-link>
              </h1>
            </div>
          </div>
          <div class="col-xs-9 col-md-7">
            <div class="header-middle-inner">
              <div class="search-container">
                <form action="#">
                  <div class="search_box">
                    <input class="header-search" placeholder="Rechercher ..." type="text" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="box-icone">
              <ul>
                <li class="settings">
                  <div class="dropdown">
                    <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img
                        src="https://lab.lepape.com/static/frontend/Lepape/default/fr_FR/Lepape_Base/images/flags/fr.svg"
                        alt="fr"
                      />
                      <span>France</span>
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <nuxt-link
                        v-for="locale in availableLocales"
                        :key="locale.code"
                        :to="switchLocalePath(locale.code)"
                        class="dropdown-item"
                      >{{ locale.name }}</nuxt-link>
                    </div>
                  </div>
                </li>
                <!--<li class="settings">
                  <a href="#?">
                    <i class="ico ico-store"></i>
                    <span>Magasin</span>
                  </a>
                </li>-->
                <li class="settings">
                  <a>
                    <i class="ico ico-connected"></i>
                    <router-link :to="localePath('/login')">
                      <span>Se connecter</span>
                    </router-link>
                  </a>
                </li>
                <!--<li class="settings">
                  <a href="#?" title="Panier">
                    <i class="ico ico-basket-full ico-basket"></i>
                    <span>Panier</span>
                  </a>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu header-bottom-area theme-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-menu">
              <a href="#menu" class="menu-icon">
                <i class="ico ico-burger-button"></i>
              </a>
              <nav class="main-menu" id="menu">
                <ul>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('CHAUSSURES.url_key')}`)"
                    >{{ $t("CHAUSSURES.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('VÊTEMENTS.url_key')}`)"
                    >{{ $t("VÊTEMENTS.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('ÉLECTRONIQUE.url_key')}`)"
                    >{{ $t("ÉLECTRONIQUE.name") }}</router-link>
                  </li>
                  <li>
                    <router-link :to="localePath(`/c/${$t('VELO.url_key')}`)">{{ $t("VELO.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('NUTRITION.url_key')}`)"
                    >{{ $t("NUTRITION.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('RUNNING & TRAIL.url_key')}`)"
                    >{{ $t("RUNNING & TRAIL.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('CYCLISME.url_key')}`)"
                    >{{ $t("CYCLISME.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('OUTDOOR.url_key')}`)"
                    >{{ $t("OUTDOOR.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('FITNESS.url_key')}`)"
                    >{{ $t("FITNESS.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('NATATION.url_key')}`)"
                    >{{ $t("NATATION.name") }}</router-link>
                  </li>
                  <li>
                    <router-link
                      :to="localePath(`/c/${$t('BONS PLANS.url_key')}`)"
                    >{{ $t("BONS PLANS.name") }}</router-link>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale);
    },
  },
};
</script>

<style lang="scss" scoped></style>
