<template>
  <div>
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>
<script>
const Header = () => import("../components/Header.vue");
const Footer = () => import("../components/Footer.vue");

export default {
  components: {
    Header,
    Footer
  }
};
</script>
