<template>
  <div class="container mt-5">
    <div class="row">
      <div class="text-center col-md-12">
        <h4>Social Login</h4>
        <br />
        <div class="row">
          <div class="col-md-6">
            <googleSignIn
              :clientId="`${googleClientID}`"
              :successCallBack="getSuccessDataGoogle"
              :failureCallBack="getFailureDataGoogle"
              :longTitle="true"
            />
            <!--<button
              type="button"
              class="btn login-button btn-secondary btn-block"
              @click.prevent="googleLogin"
            >Login with Google</button>-->
          </div>
          <div class="col-md-6">
            <div id="fb-root"></div>
            <a class="facebook-signup" @click.prevent="loginWithFacebook">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 30 24"
                fill="#fff"
              >
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                />
              </svg>
              Facebook
            </a>
            <!--<button
              type="button"
              class="btn login-button btn-secondary btn-block"
              @click.prevent="facebookLogin"
            >Login with Facebook</button>-->
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="block block-customer-login col-md-6">
        <div class>
          <strong
            id="block-customer-login-heading"
            role="heading"
            aria-level="2"
          >Clients enregistrés</strong>
        </div>
        <div class="block-content" aria-labelledby="block-customer-login-heading">
          <form class="form form-login" @submit.prevent="userLogin">
            <input name="form_key" type="hidden" value="MIU7oxAuo1f9uKe4" />
            <fieldset class="fieldset login" data-hasrequired="* Champs requis">
              <div
                class="field note"
              >Si vous avez un compte, connectez-vous avec votre adresse e-mail.</div>
              <div class="field email required">
                <label>Email</label>
                <div class="control">
                  <input name="email" v-model="login.username" />
                </div>
              </div>
              <div class="field password required">
                <label>Mot de passe</label>
                <div class="control">
                  <input name="password" type="password" v-model="login.password" />
                </div>
              </div>
              <div
                class="field-recaptcha col-md-12"
                id="msp-recaptcha-d84b65fc916e7398083ea5f17089d8f1-container"
                data-bind="scope:'msp-recaptcha-d84b65fc916e7398083ea5f17089d8f1'"
              >
                <!-- ko template: getTemplate() -->
                <!-- ko if: (getIsVisible()) -->
                <!-- /ko -->
                <!-- /ko -->
              </div>

              <div class="actions-toolbar">
                <div class="primary">
                  <button type="submit" class="btn text-light bg-dark" name="send" id="send2">
                    <span>Me Connecter</span>
                  </button>
                </div>
                <div class="secondary">
                  <a class="action remind" href>
                    <span>Mot de passe oublié ?</span>
                  </a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="block block-new-customer col-md-6">
        <div class>
          <strong id="block-new-customer-heading" role="heading" aria-level="2">Nouveaux Clients</strong>
        </div>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
          <p>
            La création d'un compte présente de nombreux avantages : paiement plus
            rapide, conservation de plusieurs adresses, suivi des commandes, etc.
          </p>
          <div class="actions-toolbar">
            <div class="btn text-light bg-dark">
              <nuxt-link class="action create primary button" to="/register">
                <span>Créer un compte</span>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import googleSignIn from "google-signin-vue/src/googleSignIn.vue";
import { initFbsdk } from "@/config/fb.js";
export default {
  data() {
    return {
      login: {
        username: "oussemas@myfablab.co",
        password: "Oussema123",
      },
      fbSignInParams: {
        scope: "email,user_likes",
        return_scopes: true,
      },
    };
  },
  components: {
    googleSignIn,
  },
  mounted() {
    initFbsdk();
  },
  computed: {
    googleClientID() {
      return process.env.GOOGLE_CLIENT_ID;
    },
  },
  methods: {
    loginWithFacebook() {
      window.FB.login((response) => {
        console.log("fb response", response);
      }, this.params);
    },
    getSuccessDataGoogle(user) {
      console.log(user);
    },
    getFailureDataGoogle(errorData) {
      console.log(errorData);
    },
    async userLogin() {
      try {
        let response = await this.$axios.$post("/api/auth/login", this.login);
        this.$axios
          .$post("/api/auth/users/me", { data: response })
          .then((resp) => {
            this.$auth.setUser(resp);
            this.$auth.setUserToken(response);
            this.$router.push("/user-dashboard");
          });
      } catch (err) {
        console.log(err);
      }
    },
    /*
    async facebookLogin() {
      try {
        let response = await this.$auth.loginWith("facebook");
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },*/
  },
};
</script>

<style lang="css" scoped>
.facebook-signup {
  font-size: 15px;
  font-weight: 600;
  background-color: #3b5998;
  color: #fff !important;
  width: 180px;
  height: 36px;
  text-align: center;
  text-decoration: none;
}
.column.main > .row {
  margin: 0 !important;
}
.column.main .row {
  background-color: transparent !important;
}
[class^="customer-account-"] .login-container {
  padding-top: 12px;
}
.row {
  margin-left: -12px;
  margin-right: -12px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.customer-account-login .block {
  text-align: left;
}
.customer-account-login .block {
  text-align: left;
}
form {
  display: block;
  margin-top: 0em;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.fieldset > .field,
.fieldset > .fields > .field {
  margin: 0 0 20px;
  font-size: 18px;
}
.actions-toolbar {
  margin-top: 7px;
}
</style>
