<template>
  <div class="container mt-5">
    <form class="form create account form-create-account" @submit.prevent="userRegister">
      <fieldset class="fieldset create info row">
        <legend class="legend col-md-12">
          <span>Informations personnelles</span>
        </legend>
        <br />

        <div class="field field-name-lastname col-md-6">
          <label>
            <span>Nom</span>
          </label>
          <div class="control">
            <input type="text" v-model="register.lastname" />
          </div>
        </div>
        <div class="field field-name-firstname col-md-6">
          <label for="firstname">
            <span>Prénom</span>
          </label>
          <div class="control">
            <input type="text" v-model="register.firstname" />
          </div>
        </div>

        <div class="field col-md-12">
          <label for="email_address">
            <span>Email</span>
          </label>
          <div class="control">
            <input type="email" v-model="register.email" />
          </div>
        </div>

        <div class="field choice newsletter col-md-12">
          <input type="checkbox" class="checkbox" v-model="register.checkbox" />
          <label for="is_subscribed">
            <span>Abonnez-vous à la newsletter</span>
          </label>
        </div>

        <div class="field gender required col-md-6">
          <label for="gender">
            <span>Civilité</span>
          </label>
          <div class="control">
            <select id="gender" v-model="register.gender">
              <option value selected="selected"></option>
              <option value="49">Madame</option>
              <option value="48">Monsieur</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset class="fieldset create account row" data-hasrequired="* Champs requis">
        <legend class="legend col-md-12">
          <span>Informations de connexion</span>
        </legend>
        <br />
        <div class="field password required col-md-6">
          <label for="password">
            <span>Mot de passe</span>
          </label>
          <div class="control">
            <input type="password" v-model="register.password" />
            <div
              id="password-strength-meter-container"
              data-role="password-strength-meter"
              aria-live="polite"
            ></div>
          </div>
        </div>
      </fieldset>
      <div class="actions-toolbar">
        <div class="primary">
          <button type="submit" class="action submit primary button" title="Créer un compte">
            <span>Créer un compte</span>
          </button>
        </div>
        <div class="secondary">
          <nuxt-link class="btn btn-light back" to="/login">
            <span>Retour</span>
          </nuxt-link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      register: {
        firstname: "oussema",
        lastname: "sallemi",
        gender: 48,
        checkbox: true,
        email: "oussemas@myfablab.co",
        password: "Oussema123",
      },
      fbSignInParams: {
        scope: "email,user_likes",
        return_scopes: true,
      },
    };
  },
  methods: {
    async userRegister() {
      try {
        let responseRegister = await this.$axios.$post(
          "/api/auth/register",
          this.register
        );
        console.log(responseRegister);
        let responseLogin = await this.$axios.$post("/api/auth/login", {
          username: this.register.email,
          password: this.register.password,
        });
        this.$axios
          .$post("/api/auth/users/me", { data: responseLogin })
          .then((resp) => {
            this.$auth.setUser(resp);
            this.$auth.setUserToken(responseLogin);
            this.$router.push("/user-dashboard");
          });
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<style lang="css" scoped>
.facebook-signup {
  font-size: 15px;
  font-weight: 600;
  background-color: #3b5998;
  color: #fff !important;
  width: 180px;
  height: 36px;
  text-align: center;
  text-decoration: none;
}
.column.main > .row {
  margin: 0 !important;
}
.column.main .row {
  background-color: transparent !important;
}
[class^="customer-account-"] .login-container {
  padding-top: 12px;
}
.row {
  margin-left: -12px;
  margin-right: -12px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.customer-account-login .block {
  text-align: left;
}
.customer-account-login .block {
  text-align: left;
}
form {
  display: block;
  margin-top: 0em;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.fieldset > .field,
.fieldset > .fields > .field {
  margin: 0 0 20px;
  font-size: 18px;
}
.actions-toolbar {
  margin-top: 7px;
}
</style>
