<template>
  <div>
    <div class="container">
      <h2>Welcome : {{vuex.auth.user.firstname}} {{vuex.auth.user.lastname}}</h2>
    </div>
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      vuex: {},
    };
  },
  created() {
    this.getUser();
  },
  methods: {
    getUser() {
      this.vuex = this.$cookies.get("vuex");
    },
  },
};
</script>

<style lang="scss" scoped>
</style>